
.cajadiv{
    background-color: aliceblue;
    padding: 20px;
    
}
body{
    background-color: burlywood;
    text-align: justify;
}
.cajadiv{
    background-color: aliceblue;
    padding: 20px;
    margin-left: 20px;
    margin-right: 20px;
}
h6{
    font-size: 35px;
    padding-left: 80px;
    padding-right: 80px;
}
p{
    font-size: 20px;margin-left: 20px;
    margin-right: 20px;
}
.imagen{
    display:block;
    margin:auto;
    width: 30%;
    height: 30%;
}
.accordion-body{
    color: blue;
    font-size: 20px;
    font-weight: bold;
}